*{
    box-sizing: border-box;
}
body{
    background: url(../img/line3.png) repeat-x #0c739f;
}
.container{
    width: 1000px;
    margin: 0 auto;
    position: relative;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    background-color: #fff;
    overflow: hidden;
}
img{
    vertical-align: middle;
}
.logo{
    height: 173px;
    list-style: none;
    margin-top: 2px;
    margin-left: 20px;
}

.contacts{
    float: right;
    font-size: 40px;
    font-family: "Tahoma", sans-serif;
    color: rgba(18, 138, 167, 0.8);
    line-height: 1.2;
    text-align: left;
    -moz-transform: matrix( 0.30025102042405,0,0,0.30025102042405,0,0);
    -webkit-transform: matrix( 0.30025102042405,0,0,0.30025102042405,0,0);
    -ms-transform: matrix( 0.30025102042405,0,0,0.30025102042405,0,0);
    position: absolute;
    right: -115px;
    top: -60px;
}
li a{
    text-decoration: none;
}
a span{
    font-size: 8px;
}
li h1{
    text-align: center;
    font-size: 18px;
    font-family: Tahoma, sans-serif;
    color: rgb(66, 76, 67);
    line-height: 1.2;
}

.countries{
    position: absolute;
    padding: 80px 250px;
    top: 30px;
    right: -224px;
}

.countries_field {
    display: block;
    float: right;
    width: 55px;
    height: 65px;
    font-size: 10px;
    font-family: Tahoma, sans-serif;
    color: rgb(18, 138, 167);
    text-decoration: underline;
    line-height: 1.2;
    margin: 5px 0 5px 5px;
    text-align: center;
}
.list_countries{
    float: right;
    clear: both;
}
.photo{
    border-top: 1px solid #128aa7;
    border-bottom: 1px solid #138aa7;
}
.nav-menu {
    text-decoration: none;
    background-color: #333333;
    height: 35px;
    border-top: 1px solid #cacbcb;
    border-bottom: 1px solid #000000;
    box-shadow: 0 0 4px rgb(0,0,0);
    padding-left: 50px;
}
.nav-menu__item{
    display: block;
    float: left;
    width: auto;
    height: 30px;
    padding: 10px 30px;
    text-decoration: none;
}
.navigation{
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-family: Tahoma, sans-serif;
    line-height: 1;
}
.navigation__drop-down{
    position: relative;
    z-index: 1;
    float: none;
    display: block;
    height: 25px;
    padding: 0 10px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-family: Tahoma, sans-serif;
    line-height: 1;
}
.navigation__drop-down a{
    font-size: 14px;
    font-family: Tahoma, Arial, sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.714;
}
.nav-menu__item:hover .drop-down__travel{
    display: block;
}
.nav-menu__item:hover a{
    font-size: 14px;
    font-family: Tahoma, Arial, sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.714;
}
.nav-menu__item:hover .drop-down__service{
    display: block;
}
.nav-menu__item:hover .drop-down__partner{
    display: block;
}
.drop-down__travel{
    display: none;
    position: absolute;
    left: 171px;
    top: 448px;
    margin: 0;
    width: 178px;
    background: #303030;
    box-shadow: 0 2px 10px rgb(0,0,0);
    z-index: 1;
}

.drop-down__service{
    display: none;
    position: absolute;
    list-style: none;
    left: 341px;
    top: 448px;
    margin: 0;
    width: 138px;
    background: #303030;
    box-shadow: 0 2px 10px rgb(0,0,0);
    z-index: 1;
}

.drop-down__partner{
    display: none;
    position: absolute;
    left: 481px;
    top: 448px;
    margin: 0;
    width: 163px;
    background: #303030;
    box-shadow: 0 2px 10px rgb(0,0,0);
    z-index: 1;
}
.drop-down{
    float: none;
    display: block;
    height: 25px;
    padding: 0 10px;
}
.drop-down a{
    font-size: 14px;
    font-family: Tahoma, Arial, sans-serif;
    color: rgb(255, 255, 255);
    line-height: 1.714;
}
.information{
    position: absolute;
    float: left;
    height: 545px;
    width: 210px;
    background-color: #edeef0;
    padding: 10px;
    font-size: 14px;
    font-family: Tahoma, sans-serif;
    color: rgb(66, 76, 67);
    line-height: 1.714;
}

.news{
    float: right;
    height: 545px;
    width: 210px;
    background-color: #edeef0;
    padding: 10px;
    font-size: 14px;
    font-family: Tahoma, sans-serif;
    color: rgb(66, 76, 67);
    line-height: 1.714;
}
.information{
    list-style: none;
}
.news{
    list-style: none;
}
.clear-fix:after{
    content: " ";
    display: block;
    clear: both;
}
footer{
    margin: 10px;
}
footer p{
    text-align: center;
    clear: both;
    color: #ffffff;
}

